* {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
}

body {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3);
}

.img-sobre img {
  margin: 20px;
  border-radius: 100%;
  width: 200px; 
  height: 200px;
}

section {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.skills div {
  margin: 30px;
  height: 237px;
}

p {
  text-align: center;
  margin: 20px;
  padding: 80px;
}

.sobre {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
}

.project {
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin: 20px;
}

h3 {
  margin: 10px;
}

.imagem-container img {
  width: 48px;
  height: auto;
  transition: transform 0.3s;
  text-align: center;
}

.imagem-container img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 430px) {
  .imagem-container img {
    width: 96px;
  }

  section {
    display: block;
  }

  html {
    width: 100%;
  }

  p {
    text-align: center;
    margin: 20px;
    width: 400px;
    padding: 0;
  }

  .sobre {
    align-items: center;
    justify-content: center;
    padding: 0 0px;
  }
}
